@font-face {
  font-family: LesajaFont-Regular;
  src: url("../font/GoogleSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: LesajaFont-Bold;
  src: url("../font/GoogleSans-Bold.ttf") format("truetype");
}

body {
  font-family: LesajaFont-Regular;
}

 a, .btn {
  font-family: LesajaFont-Bold;
}

.btn {
  border-width: 2px;
  width: 100px;
  border-color: #FF7408;
}

.btn-success {
  background-color: #FF7408;
}

.btn-success:hover {
  background-color: #F06800;
  border-color: #F06800;
}

.btn-outline-success {
  color: #FF7408;
}

.btn-outline-success:hover {
  background-color: #FF7408;
  color: #fff;
  border-color: #FF7408;
}